<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRLEManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TRLEManager.Properties.Settings>
            <setting name="TRLECollection" serializeAs="String">
                <value />
            </setting>
            <setting name="TRLEInstallPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BrowseTRLEURL" serializeAs="String">
                <value>https://www.trle.net</value>
            </setting>
            <setting name="SelectedGamepad" serializeAs="String">
                <value />
            </setting>
            <setting name="GamepadMapping" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyboardMapping" serializeAs="String">
                <value />
            </setting>
            <setting name="GameKeyMapping" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowRect" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorLogDirectory" serializeAs="String">
                <value />
            </setting>
        </TRLEManager.Properties.Settings>
    </userSettings>
</configuration>